<%= simple_form_for @post do |f| %>
  <%= f.input :text %>
  <%= f.input :tag %>
  <% if @post.persisted? && @post.logo.attached? %>
    <div class="post-logo">
      <%= image_tag(@post.logo, class: "post-logo") %>
    </div>
  <% end %>

  <%= f.input :logo, as: :file %>

  <%= f.button :submit, class: "btn btn-primary btn-block" %>
<% end %>