<div class= "cards">

  <% if @posts.any? %>
      <% @posts.each do |post| %>
        <div class="post">
          <div class="d-flex align-items-center justify-content-between">
            <h2><%= post.text %></h2>
                  <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false" style= "color:black;">...</a>
            <ul class="dropdown-menu dropdown-menu-xxl-end " style="margin-right: 50px; position: absolute; right: 0px; top: 40px; ">
              <li class="nav-item"><%= link_to( "Editar", edit_post_path(post), class:"btnout")%> </li>
              <li class="nav-item"><%= button_to( "Deletar",post_path(post), method: :delete, class:"delete")%></li>
            </ul>
          </div>
            <p><%= post.tag %></p>
            <% if post.foto.attached? %>
              <%= image_tag(post.foto, class: "post-foto") %>
            <% end %>
            <hr>
        </div>
      <% end %>
  <% else %>
    <p>Nenhuma postagem encontrada.</p>
  <% end %>
    <div class="pagination">
    <%= paginate @posts%>
  </div>
</div>